<div class="row mt-5">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
      <form (ngSubmit)="onSubmitNewMobile()">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="id"
            [(ngModel)]="movie.id">
          <label for="pt">Brand</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="rank"
              [(ngModel)]="movie.rank">
            <label for="pt">Brand</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="rankUpDown"
              [(ngModel)]="movie.rankUpDown">
            <label for="pt">Brand</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="title"
              [(ngModel)]="movie.title">
            <label for="pt">Brand</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="fullTitle"
              [(ngModel)]="movie.fullTitle">
            <label for="pt">Brand</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="year"
              [(ngModel)]="movie.year">
            <label for="pt">Brand</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="image"
              [(ngModel)]="movie.image">
            <label for="pt">Brand</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="crew"
              [(ngModel)]="movie.crew">
            <label for="pt">Brand</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="imDbRating"
              [(ngModel)]="movie.imDbRating">
            <label for="pt">Brand</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="imDbRatingCount"
              [(ngModel)]="movie.imDbRatingCount">
            <label for="pt">Brand</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="genre"
              [(ngModel)]="movie.genre">
            <label for="pt">Brand</label>
          </div>
          
          
        
        <button class="btn btn-warning float-end" type="submit">Add</button>
      </form>
    </div>
    <div class="col-sm-2 col-md-3"></div>
  </div>