<h2 class="text-center text-white mt-5"><i class="fas fa-phone"></i> Contact Info</h2>
<hr class="text-white">


<h4 class="mt-3 p-5 text-warning">
Thank you for your interest in our services. Please provide the following information about your needs to help us serve you better.
 This information will enable us to route your request to the appropriate person. You should receive a response within 48 hours.
</h4>

<div class=" text-white" style="background-color: rgba(0, 0, 0, 0.8);">
<div class="row mb-5">
    <h2 class="text-center mt-5">Contact Us</h2>
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
        <form >
            <div class="mb-3">
                <label for="fn" class="form-label">First Name</label>
                <input type="text" class="form-control" id="fn" name="firstname" >
            </div>
            <div class="mb-3">
                <label for="ln" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="ln"  name="lastname">
            </div>

            <div class="mb-3">
                <label for="em" class="form-label">Email</label>
                <input type="email" class="form-control" id="em" name="email">
            </div>

            <div class="mb-3">
                <label for="ques" class="form-label">Questions</label>
                <input type="text" class="form-control" id="ques"  name="questions">
            </div>

            <div class="mb-3">
                <label for="comp" class="form-label">Complaints</label>
                <input type="text" class="form-control" id="comp"  name="complaints">
            </div>


            <div class="form-check mt-5">
                <input type="checkbox" name="polocies" class="form-check-input" id="check">
                <label for="check" class="form-check-label">I confirm, I have read and agreeto the company's private policy and consent to sharing my information</label>
            </div>

            <div class="form-check mt-3">
                <input type="checkbox" name="notifications" class="form-check-input" id="nots">
                <label for="nots" class="form-check-label">I Would like to recieve alerts and Updates from the Company</label>
            </div>

            

            <button class="btn btn-primary d-block mx-auto m-5">Submit</button>
        </form>
        
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <i class="fab fa-twitter "></i>
        <h1 class="m-5">Tweet us</h1>
      </div>
      <div class="col">
        <i class="far fa-envelope "></i>
        <h1 class="m-5">Email us</h1>
      </div>
      <div class="col">
        <i class="fas fa-mobile-alt"></i>
        <h1 class="m-5">Text us</h1>
      </div>
    </div>
  </div>
</div>
