
<div class="card mt-5"  >
  <div id="background" style=" background-image: linear-gradient(rgba(179, 179, 179, 0.5), rgba(143, 143, 143, 0.5)), url('{{myData.image}}'); background-repeat: no-repeat; background-size:100% 100%;   ">
  <div class="card-body text-dark"  style="font-family: fantasy;">
     <p class="card-text text-center " id="t1">{{myData.fullTitle}}</p>
  </div>
</div>
</div>
<hr class="text-warning">
<div class="container text-dark" style="font-family: fantasy;">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <img src="{{myData.image}}" class="card-img-top "  alt="...">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body text-center">
        <h5 class="card-title" id="d2" >id:{{myData.id}}</h5>
        <h5 class="card-title" id="d2" >title:{{myData.title}}</h5>
        <h5 class="card-title" id="d2" >rank:{{myData.rank}}</h5>
        <h5 class="card-title" id="d2" >rank up&down:{{myData.rankUpDown}}</h5>
        <h5 class="card-title" id="d2" >year:{{myData.year}}</h5>
        <h5 class="card-title" id="d2" >crew:{{myData.crew}}</h5>
        <h5 class="card-title" id="d2" >imdb rating:{{myData.imDbRating}}</h5>
        <h5 class="card-title" id="d2" >imDbRatingCount:{{myData.imDbRatingCount}}</h5>

      </div>
    </div>
  </div>
</div>